<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/assets/**" security="none"/>
    <http pattern="/login*" security="none"/>

    <http auto-config="true">
        <intercept-url pattern="/**" access="ROLE_USER" />
        <form-login login-page="/login" />
    </http>

    <!--<authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="mkyong" password="123456" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>-->
    
    <!-- Simple namespace-based configuration -->

    <ldap-server ldif="classpath:users.ldif" port="33389"/>

    <authentication-manager>
        <ldap-authentication-provider
            group-search-filter="member={0}"
            group-search-base="ou=groups"
            user-search-base="ou=people"
            user-search-filter="uid={0}"
        />
        <authentication-provider ref='secondLdapProvider' />
    </authentication-manager>


    <!-- Traditional Bean version of the same configuration -->

    <!-- This bean points at the embedded directory server created by the ldap-server element above  -->
    <beans:bean id="contextSource" class="org.springframework.security.ldap.DefaultSpringSecurityContextSource">
        <beans:constructor-arg value="ldap://localhost:33389/dc=springframework,dc=org"/>
    </beans:bean>

    <beans:bean id="secondLdapProvider" class="org.springframework.security.ldap.authentication.LdapAuthenticationProvider">
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.ldap.authentication.BindAuthenticator">
                <beans:constructor-arg ref="contextSource" />
                <beans:property name="userSearch">
                    <beans:bean id="userSearch" class="org.springframework.security.ldap.search.FilterBasedLdapUserSearch">
                      <beans:constructor-arg index="0" value="ou=people"/>
                      <beans:constructor-arg index="1" value="(uid={0})"/>
                      <beans:constructor-arg index="2" ref="contextSource" />
                    </beans:bean>
                </beans:property>
            </beans:bean>
        </beans:constructor-arg>
        <beans:constructor-arg>
            <beans:bean class="org.springframework.security.ldap.userdetails.DefaultLdapAuthoritiesPopulator">
                <beans:constructor-arg ref="contextSource" />
                <beans:constructor-arg value="ou=groups" />
                <beans:property name="groupSearchFilter" value="(member={0})"/>
                <beans:property name="rolePrefix" value="ROLE_"/>
                <beans:property name="searchSubtree" value="true"/>
                <beans:property name="convertToUpperCase" value="true"/>
            </beans:bean>
        </beans:constructor-arg>
    </beans:bean>

</beans:beans>